#welcome {
    font: 20px verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
#navi,#shop {
    font: 18px verdana, arial, sans-serif;
    width: 100%;
    height: 50px;
    background-color: #690;
}
#navi ul,#shop ul {
    text-align: center;
}
#navi li,#shop li {
    color: #FFF;
    margin-top: 15px;
    margin-left: 30px;
    display: inline-block;
}
#navi a,#shop a{
    text-decoration: none;
    color: #FFF;
}